$min-width: 320px; 
$max-width: 1920px;

$black: #000;
$white: #fff;
$latte: #D5B584;
$milk: #EFDABA;
$chocolate: #260A00;
$red: #E62B33;
$gray: #C0C0C0;

$link-color: $chocolate;

$base-background: $white;
$base-color: $black;
$base-font-family: 'Roboto', sans-serif;
$second-font-family: 'Roboto Mono', monospace;
$base-font-size: 16px;
$base-font-size-mobile: 14px;
$base-line-height: 1.6em;
$font-weight-bold: 700;

$heading-color: $chocolate;
$heading-font-family: 'Roboto Mono', monospace;
$heading-font-weight: 700;
$heading-second-font-weight: 500;
$heading-line-height: 1.17em;

$dot-space: 20px;
$dot-size: 2px;
$bg-color: #fff;
$dot-color: #000;
